doctype html
html(lang='en')
  head
    title Evgeniy-Gapontsev_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Evgeniy Gapontsev
        p.eyecatch-subtitle QA Engineer
        p.eyecatch-description
          | I have little experience in Java programming.
          | I'm taking courses on test automation.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Russian, English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +375-25-989-50-09
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email gapontsev91@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization RUE Belpharmacia
              span.u-each-period 2019.11 ~ Current
            p.u-each-subtitle Pharmacy Manager
            p.work-each-description
              | I am engaged in paperwork, preparation of reports, work with clients.
              ul
                li

          .work-each
            p.u-each-title
              span.u-each-organization RUE Belpharmacia
              span.u-each-period 2017.05 ~ 2019.08
            p.u-each-subtitle Deputy Head of the Storage Department
            p.work-each-description
              | I dealt with the processing of applications from pharmacies and healthcare organizations
              | on the 1C platform.
              ul
                li

          .work-each
            p.u-each-title
              span.u-each-organization  RUE Belpharmacia
              span.u-each-period 2013.07 ~ 2017.05
            p.u-each-subtitle Pharmacist-recipe (2013.07 ~ 2016.01), Pharmacy Manager (2016.01 ~ 2017.05)
            p.work-each-description
              | I worked in sales for two and a half a year.
              | As a pharmacist-recipe, I was engaged in the sale of medicines.
              | Then I moved to the pharmacy manager, where I was engaged in the observance of the pharmaceutical
              | order in the pharmacy, paperwork, preparation of reports, conducted conversations with
              | representatives of pharmaceutical companies.
              ul
                li Sale of Human medicines
                li Worked with clients

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Vitebsk State Medical University
              span.u-each-period 2013.09 ~ 2019.02
            p.u-each-subtitle
            ul
              li Pharmacology
              li Pharmacy economics
              li Chemistry




          .education
            h2.u-section-title Development Skills
            ul
              li Programming on Java



          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/evgeniygapontsev

    .footer
